################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.bin
.vs
.tmp
obj
*.vcxproj.user
*.csproj.user
